---
import { ViewTransitions } from "astro:transitions";
import BackToTop from "~/components/BackToTop.astro";
import Footer from "~/components/Footer.astro";
import Header from "~/components/Header.astro";
import SkipLink from "~/components/SkipLink.astro";
import { SITE_TITLE } from "~/config";
import "~/global.css";
type Props = {
  meta: {
    title: string;
    description: string;
  };
};

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const {
  meta: { title, description },
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{title} • {SITE_TITLE}</title>

    <meta name="description" content={description} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#ffffff" />
    <meta name="robots" content="index, follow" />
    <meta name="geo.region" content="US-TX" />
    <meta name="geo.placename" content="Richardson" />
    <meta name="geo.position" content="32.948179;-96.729721" />
    <meta name="ICBM" content="32.948179, -96.729721" />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={canonicalURL} />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐻</text></svg>"
    />

    <script
      async
      defer
      type="text/partytown"
      src="https://analytics.umami.is/script.js"
      data-website-id={import.meta.env.PUBLIC_UMAMI_WEBSITE_ID}
      data-domains="friendlybearlabs.com,www.friendlybearlabs.com"></script>
    <slot name="head" />
    <ViewTransitions />
  </head>
  <body id="body" class="flex h-full min-h-full flex-col text-primary">
    <SkipLink />
    <Header sticky />
    <div class="grow sm:pt-12">
      <slot />
    </div>
    <Footer />
    <BackToTop />
  </body>
</html>
